<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="description" content="">
  <link rel="icon" href="./favicon.png">

  <title>Mari Kita Sehat</title>
</head>

<body>
  <header>
    <nav class="navbar bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </main>
  <footer>

  </footer>
</body>

</html>