<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="description" content="Informasi kesehatan untuk kamu">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <!--Theme android-->
  <meta name="theme-color" content="#F0ff00"/>
  <!--iPhone-->
  <link rel="apple-touch-icon" href="/#belum diisi">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <title>Sehat Yuks</title>
</head>

<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button tabindex="0" id="hamburgerButton" class="phoneButton"
      aria-label="tombol navigasi versi smartphone">
        ☰
      </button>
    </div>
    <div class="app-bar__logo">
      <img src="../public/logo/IRIS-logo.png">
    </div>
    <nav id="navDrawer" class="app-bar__navigasi">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/artikel">Artikel</a></li>
        <li><a href="#/info-kesehatan">Info Kesehatan</a></li>
        <li><a href="#/info-obat">Info Obat</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent">
    <div class="hero">
      <div class="slogan">
        <h1>Sehat Yuks</h1>
        <p>Selain diri kamu, IRIS juga perduli kesehatan kamu lho,
          Yuks cari tahu Info kesehatan disini
        </p>
      </div>
      <div class="hero">
        <img src="../public/logo/hero.jpeg"/>
      </div>
    </div>
  </main>
  <footer>
    <p class="footer-iris">IRIS | FEBE Dicoding Batch 3</p>
  </footer>
</body>

</html>