@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
/* untuk tampilan photo logo
    .app-bar .app-bar__logo img {
        font-size: 1.5em;
    }
    */

    .app-bar .app-bar__menu{
        display: none;
    }

    .app-bar .app-bar__navigasi {
        position: static;
        width: 100%;
    }

    .app-bar .app-bar__navigasi ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }

    /* untuk halaman artikel populer
    {
        kode disini
    }
    */

    /* untuk halaman obat
    paling sering di cari
    {
        kode disini
    }
    */

    /* untuk halaman
    informasi kesehatan
    {
        kode disini
    }
    */
}

@media screen and (min-width: 800px) {
    /* untuk tampilan foto logo nanti
    .app-bar .app-bar__logo img {
        font-size: 2em;
    }
    */
    
}