<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="description" content="Informasi kesehatan untuk kamu">
  <link rel="icon" href="./IRIS.webp">
  <link rel="manifest" href="./app.webmanifest">
  <!--Theme android-->
  <meta name="theme-color" content="#F0ff00" />
  <!--iPhone-->
  <link rel="apple-touch-icon" href="/#belum diisi">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>Sehat Yuks</title>
</head>



<body>
  <header id="page-top">
    </nav>
    <nav class="navbar navbar-expand-lg bg-light fixed-top navigasi-menu" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./logo/IRIS.webp" alt="IRIS" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#/home">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#/artikel">
                Artikel
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Info Kesehatan
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#/lingkungan">Lingkungan</a></li>
                <li><a class="dropdown-item" href="#/covid19">Covid-19</a></li>
                <li><a class="dropdown-item" href="#/udara_segar">Udara Segar</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Info Obat
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#/obat">Baca Info Obat</a></li>
                <li><a class="dropdown-item" href="#/obat_favorite">Obat Favorite</a></li>
              </ul>
            </li>
            <li>
              <a class="btn btn-loginValidation" href="#/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main id="mainContent">

  </main>

  <footer>
    <p class="footer-iris">IRIS | FEBE Dicoding Batch 3.</p>
  </footer>
</body>

</html>