  footer{
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .container-footer{
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .row{
    display: grid;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer-col{
    margin-left: 30px;
  }

  .footer-col h4{
    text-transform: capitalize;
  }

  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
    color: black;
    background-color: #92E3A9;
    border-radius: 3px;
  }
  .footer-col ul li a:hover{
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #92E3A9;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: black;
  }
  .footer-col .social-links a:hover{
    background-color: black;
    color: white;
  }

  .footer-bawah{
    border-top: solid black;
    text-align: center;
  }
  .footer-bawah p{
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

  @media screen and (max-width: 1000px) {
    .row {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 10;
    }
  
  }
  
  @media screen and (min-width: 1001px) {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }