<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>About IRIS</h1>
    <p>IRIS merupakan aplikasi berbasis web yang menyediakan berbagai informasi seputar dunia kesehatan. IRIS dibuat
        oleh 4 orang yang sudah berpengalaman membuat berbagai website.
        Terdapat banyak layanan informasi berguna yang ada di IRIS, diantaranya: <br>
        1 . Artikel kesehatan makanan. <br>
        Layanan ini memberikan informasi-informasi tentang makanan yang sehat dikonsumsi. Berbagai bahan pangan nabati
        dan hewani yang memberi banyak manfaat pada tubuh speerti vitamin dan mineral.
        Terdapat detail informasi kesehatan pada masing-masing makanan, detail-detail tersebut dibuat sedetail mungkin
        untuk memberikan informasi yang berguna. <br>
        2 . Artikel tentang COVID 19. <br>

    </p>

</body>

</html>